<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClFAf-Vc5w9KnZyrP_ZU1mF0_s0fB8RFo</string>
	<key>GCM_SENDER_ID</key>
	<string>358048828340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chattingapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-fcd22</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-fcd22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358048828340:ios:1e0a9f06b5ea758f8980e1</string>
</dict>
</plist>